.notif{
    background-color: blue;
    border-radius: 30px;}      
    
.number{
    position: absolute;
    background-color: #FB404B;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    font-size: 12px;
 
    font-weight: bold;
    line-height: 18px;
    top: 4px;
    left: 2px;

}      

.ahref{
    font-size: 15px;
    position: relative;
    top: -10px;
    left: 2px;

}

.etat{
    background-color: #1164fd;
    width: 75px;
    padding-left: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: rgb(197, 195, 195) 1px solid;
    

}

.icon{
font-size: 20px;
position: relative;
top: -1px;


}

.iconuser{
    border: 1px solid rgb(150, 148, 148);
    align-Items:'center';
    justify-Content:'center';
    width:30px;
    height:30px;
    background-color: rgb(238, 238, 237);
    border-Radius:50px;
    padding:5px;
    color: #1b1b1b;
}

.profile{
    position: relative;
    top: -1px;
}
.envoyerIcon{
    color: #1164fd;
}

.btn-flat {
    background-color: purple;
    color: white;
  }

  #style-7::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  #style-7::-webkit-scrollbar
  {
    width: 7px;
    background-color: #F5F5F5;
  }
  
  #style-7::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                       left bottom,
                       left top,
                       color-stop(0.72, rgb(131, 133, 136)),
                       color-stop(0.86, rgb(101, 103, 109)));
  }
.scrollbar
{
 
  
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

}
.scrollbar2
{
 
  
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;

}